body {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  font-size: calc(10px + 2vmin);
  color: white;
}

.label-date-picker {
  margin-bottom: 10px;
}

.date-picker-container {
  text-align: center;
}
